body{
    margin: 0;
    padding: 0;
}

.links{
    height: 10em;
    background-color: white;
    border: 1px solid rgb(189, 189, 189);
    border-radius: .3em;
    padding: .8em .3em;
    margin: 1.2em;
    margin-left: 9em;
    width: 48%;
    text-align: justify;
    font-size: 1em;
}
.links a {
    color: rgb(41, 80, 255);
    font-family: 'Lucida Sans';
    font-size: .8em;
    text-decoration: none;
}
.links a:hover {
    text-decoration: underline;
}
li{
    list-style-type: none;
}
.title{
    font-size: 2em;
    text-align: left;
}

