body {
  margin: 0;
  padding: 0;
  background-color: rgb(219, 219, 255);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  height: 2.8em;
  padding-top: .6em;
  border-top: 1px solid rgb(177, 177, 177);
  border-bottom: 1px solid rgb(212, 212, 212);
}

.navbar li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1em 2em;
  text-decoration: none;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Lucida Sans';
  border-radius: 1em;
}

.navbar li:hover:not(.active) {
  background-color: rgb(213, 221, 255);
}
.buttons{
  float: right;
}
