/* ------------- BOX FO LINK DETAILS -------------------*/

.link-details {
    border: 1px solid #000000;
    margin-bottom: 20px;
    width: 80%;
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 4px 6px -3px rgba(0,0,0,1);
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,1);
  
  }
  
  .link-details .left {
    text-align: center;
    border-right: 1px solid #000000;
    padding: 10px;
    width: 5%;
  }
  
  .link-details .right {
    padding: 10px;
  }
  
  .link-details .right .audit {
    text-decoration: none;
  
  }
  
  .link-details .right .title {
    margin: 0px;
  }
  
  .link-details .right .comment-count {
    margin-top: 15px;
    font-size: 15px;
  }
  
  .link-details .right .url {
    color: #7c7c7c;
  }
  
  /* ------------- BOX FO LINK DETAILS -------------------*/
  .comment-details {
    border: 1px solid #000000;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
  }
  
  .comment-details .left {
    text-align: center;
    border-right: 1px solid #000000;
    padding: 10px;
    width: 5%;
  }
  
  .comment-details .right {
    padding: 10px;
  }
  
  
  