body{
    margin: 0;
    padding: 0;
}

.links{
    background-color: white;
    border: 0.1em solid rgb(139, 139, 139);
    border-radius: 1em;
    padding: .3em 2em;
    margin: 1em;
    margin-left: 3em;
    width: 50%;
    text-align: justify;
    font-size: 1em;
}
li{
    list-style-type: none;
}
