body{
    margin: 0;
    padding: 0;
}

.links{
    height: 10em;
    background-color: white;
    border: 0.1em solid rgb(139, 139, 139);
    border-radius: .3em;
    padding: .3em .3em;
    margin: 1em;
    margin-left: 2em;
    width: 57%;
    text-align: justify;
    font-size: 1.3em;
    

}
li{
    list-style-type: none;
}
.title{
    font-size: 2em;
    text-align: left;
}

